<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Main Section -->
<main class="container">  
    <h1 class="section-title text-center">- <%= title %> -</h1>
        <div class="content-about">
        
        </div>
</main>


<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>
