<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Main Section -->
<main class="container">  
    <h1 class="section-title text-center">- <%= title %> -</h1>
      <br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                    <h5 class="card-title bold-title border-bottom border-dark">
                        <i class="fab fa-lg fa-github"></i> Github
                    </h5>
                    <p class="card-text">Here is my Github account. There are some projects for practice which I have leraned or started learing new languages, 
                        but I don't get domain and hosting for almost all my project. I would be grateful if you could read README file that there are explaination about app features and images. 
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <a href="https://github.com/Shotamax95" class="btn btn-primary" target="_blank">My Github</a>
                </div>
            </div>
        </div>
        <div class="col">            
            <div class="card text-center h-100">
                <div class="card-body">
                    <h5 class="card-title bold-title border-bottom border-dark">
                        <i class="far fa-lg fa-file-alt"></i> Survey Web Application
                    </h5>
                    <p class="card-text">Made by <strong>MEAN Stack(MongoDB, Express, Angular, node.js).</strong> 
                        This is a group project which I engaged when I was in college. 
                        My roll was project manager and frontend developer. 
                        I usually managed all the tasks with Trello, and held a weekly meeting. We used 7 weeks to complete this project.
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <a href="https://comp229-group-project-3c.herokuapp.com/home" class="btn btn-primary" target="_blank">Survey APP</a>
                </div>
            </div>
        </div>
        <div class="col">            
            <div class="card text-center h-100">
                <div class="card-body">
                    <h5 class="card-title bold-title border-bottom border-dark">
                        <i class="far fa-lg fa-images"></i> Save Image (Flicker) App
                    </h5>
                    <p class="card-text">This project was created to learn C# using Windows Form Application. Once user select a image, the image will be saved automatically with original size, and thumbnail size.
                        This app performs following three actions parallelly by using Parallel class; Display image, save the selected image with original size, and thumbnail size. 
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <a href="https://github.com/Shotamax95/Flicker_Project" class="btn btn-primary" target="_blank">Save Image APP</a>
                </div>
            </div>
        </div>
        <div class="col">            
            <div class="card text-center h-100">
                <div class="card-body">
                    <h5 class="card-title bold-title border-bottom border-dark">
                        <i class="fas fa-lg fa-book"></i> XKCD Web Comic
                    </h5>
                    <p class="card-text">This project was created to deepen understanding of JavaScript 
                        such as DOM and API. This app implements following features; 
                        Display latest image as home, Next, Previous, Random button, Search by comic id, and Responsive Screen.
                        Here is my code <a href="https://github.com/Shotamax95/xkcd-web-comic-project">on github</a>
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <a href="https://xkcd-web-comics.herokuapp.com" class="btn btn-primary" target="_blank">XKCD Comic APP</a>
                </div>
            </div>
        </div>
        <div class="col">            
            <div class="card text-center h-100">
                <div class="card-body">
                    <h5 class="card-title bold-title border-bottom border-dark">
                        <i class="far fa-lg fa-list-alt"></i> Todo App with Python
                    </h5>
                    <p class="card-text">I had a python project using Flask on my college class. So, I wanted to learn it beforehand, then I made this app as a practice.
                        The functions are CRUD (Create, Read, Update, Delete), and database is SQLAlchemy. Since Python code is quite simple and code line is less than other programming languages, I have to understand deeply.
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <a href="https://github.com/Shotamax95/TodoApp-with-Python-Flask" class="btn btn-primary" target="_blank">Todo APP Code</a>
                </div>
            </div>
        </div>
        <div class="col">            
            <div class="card text-center h-100">
                <div class="card-body">
                    <h5 class="card-title bold-title border-bottom border-dark">
                        <i class="fab fa-lg fa-js-square"></i> JavaScript animations (GSAP)
                    </h5>
                    <p class="card-text">Using dynamic animations makes websites fancy. 
                        I practiced JavaScript plugin which is called GSAP. GSAP is a library that helps developers to animate various elements in their projects; 
                        from custom/dedicated components to images, texts or even entire containers.
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <a href="https://github.com/Shotamax95/gsap-animation-practice" class="btn btn-primary" target="_blank">Animation Code</a>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>
