<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Main Section -->
<main class="container">  
    <h1 class="section-title text-center">- <%= title %> -</h1>
    <br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                <h5 class="card-title bold-title border-bottom border-dark">
                    <i class="fab fa-lg fa-html5"></i> HTML5
                </h5>
                <p class="card-text">Clean code such as class or id names to connect with CSS and JavaScript.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                <h5 class="card-title bold-title border-bottom border-dark">
                    <i class="fab fa-lg fa-css3-alt"></i> CSS3
                </h5>
                <p class="card-text">Understanding animation, responsive (media query), and Bootstrap. Currently learning sass.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                <h5 class="card-title bold-title border-bottom border-dark">
                    <i class="fab fa-lg fa-js"></i> JavaScript
                </h5>
                <p class="card-text">Basic JavaScript skills including DOM. Also, some plugins such as Scroll Magic and GSAP.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                <h5 class="card-title bold-title border-bottom border-dark">
                    <i class="fab fa-lg fa-node-js"></i> node.js
                </h5>
                <p class="card-text">Able to build up server with Express and connect with MongoDB.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                <h5 class="card-title bold-title border-bottom border-dark">
                   <i class="fas fa-lg fa-code"></i> Other Skills
                </h5>
                <p class="card-text">Basic skills in some languages such as python (Flask), 
                c#, jQuery, and MongoDB.
                </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                <h5 class="card-title bold-title border-bottom border-dark">
                   <i class="fas fa-lg fa-clipboard-list"></i> Currently Learing
                </h5>
                <p class="card-text"><i class="fab fa-react"></i>React (Hooks) with TypeScript.
                After that, I'm planning to learn Redux and GraphQL.
                </p>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>
