<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Main Section -->
<main class="container">  
    <h1 class="section-title text-center">- <%= title %> -</h1>
    <br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                <h5 class="card-title bold-title border-bottom border-dark">
                    <i class="fab fa-lg fa-html5"></i> HTML5
                </h5>
                <p class="card-text">I have experienced with HTML for more than 2 years. Since I can make class or id names tidy, other people who are team members make sure or modify the code easily.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                <h5 class="card-title bold-title border-bottom border-dark">
                    <i class="fab fa-lg fa-css3-alt"></i> CSS3
                </h5>
                <p class="card-text">I have experienced with CSS3 for more than 2 years. Also, I understand animation, responsive (media query), and Bootstrap.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                <h5 class="card-title bold-title border-bottom border-dark">
                    <i class="fab fa-lg fa-js"></i> JavaScript
                </h5>
                <p class="card-text">I would like to think that I understand basic JavaScript skills including DOM. Also, I know some plugin which are Scroll Magic and GSAP. I will learn <i class="fab fa-react"></i>React soon.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center h-100">
                <div class="card-body">
                <h5 class="card-title bold-title border-bottom border-dark">
                    <i class="fab fa-lg fa-node-js"></i> node.js
                </h5>
                <p class="card-text">Currently, I am studying node.js to build up server with Express. Moreover, when I build up web app, I have used <i class="fab fa-angular"></i>Angular and MongoDB Atlas.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>
